body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px; 
    margin: 0; 
    background: linear-gradient(to bottom, #f8f9fa, #ffffff); 
}

.navbar {
    height: 70px;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.9); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-brand:hover span {
    color: var(--bs-warning) !important; 
}

.nav-link, .btn-auth {
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 0 0.25rem;
}

.nav-link.hover-effect:hover, .btn-auth.hover-effect:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--bs-warning) !important;
    transform: scale(1.1);
}

.hero-section {
    padding-top: 6rem;
    margin-top: -1px; 
    position: relative;
    color: #000; 
    min-height: 400px; 
}


.hero-bg-img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; /* La imatge ocupa el 100% de l'amplada del .hero-section */
    height: 100%; /* La imatge ocupa el 100% de l'alçada del .hero-section */
    object-fit: cover; 
    opacity: 0.2; /* Transparència */
    z-index: -2; /* Envia la imatge al fons de tot */
}

.hero-bg-element {
    position: absolute;
    border-radius: 50%;
    z-index: -1; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.hero-title {
    font-family: 'Urbanist', sans-serif; 
    font-weight: 800; 
    color: var(--bs-primary);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); 
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.event-highlight {
    border: 2px solid var(--bs-warning);
    transition: transform 0.3s ease;
}

.event-highlight:hover {
    transform: rotate(0deg) scale(1.05);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.hero-section .container {
    margin-top: 0 !important;
    padding-top: 0 !important;
}